.container{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}
.container > *{
    display: flex;
}
.red{
    margin: 0;
    background-color: red;
    flex: 1 0 calc(25% - 1rem - 4px);
}
.blue{
    background-color: lightblue;
    flex: 3 0 calc(75% - 1rem - 4px);
}
.yellow{
    background-color: yellow;
    flex: 1 0 calc(100% - 4px);
}
.flex-item{
    padding: 2rem 0;
    text-align: center;
    border: 2px solid black;
}